.mtop-10 {
	margin-top: 10px;
}

.no-bottom {
	margin-bottom: 0px;
}

.padding {
	padding: 10px;
}

.bar {
	border-top:  solid red 5px;
	padding-top: 10px;
}

#bottom {
	margin-top: 20px;
}

.jumbotron {
	text-align: center;
}

.home {
	background-image: url("../images/graphy_@2X.png");
	position:relative;
    /*z-index:1;
    height:100px;
    width:100%;*/
    background-attachment:fixed;    /* this keeps the background in place */
    /*background-size:100% 100%;*/
    background-repeat: repeat;
}