.mtop-10 {
	margin-top: 10px;
}

.no-bottom {
	margin-bottom: 0px;
}

.padding {
	padding: 10px;
}

.bar {
	border-top:  solid red 5px;
	padding-top: 10px;
}

#bottom {
	margin-top: 20px;
}

.jumbotron {
	text-align: center;
}